.home {
  margin-top: $nav-height;
  display: flex;
  padding-top: 24px;
}

.story {
  width: 100%;
  height: 120px;
  position: relative;
  background-color: $white-color;
  border: 1px solid $border-color;
  overflow-x: hidden;
  border-radius: 3px;
  padding: 16px 0 16px 8px;
  .story-content {
    position: absolute;
    display: flex;
    transition: transform 0.3s ease-out 0.2s;
  }
  .story-prev {
    display: none;
    @include btn-move;
    background-color: $white-color;
    left: 10px;
    z-index: 1;
  }
  .story-next {
    @include btn-move;
    background-color: $white-color;
    right: 10px;
    z-index: 1;
  }
  .story-post {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    .story-outline {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background: radial-gradient(
        circle at 12% 100%,
        #fed373 1%,
        #f15245 46%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      );
      padding: 2px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid $white-color;
      cursor: pointer;
    }
    .username {
      width: 64px;
      text-align: center;
      font-size: $font-xsm;
      letter-spacing: 0.12px;
      margin-top: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }
}

#feed {
  max-width: 600px;
  flex: 6;
  display: flex;
  flex-direction: column;
  .post-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45%;
    transform: scale(2);
  }
  .post-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    background-color: $white-color;
    border: 1px solid $border-color;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 16px;
      .top-left {
        display: flex;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
          margin-right: 10px;
        }
        span {
          font-size: $font-sm;
          font-weight: 500;
          cursor: pointer;
        }
      }
      .top-right {
        cursor: pointer;
      }
    }

    .center {
      position: relative;
      overflow: hidden;
      .post-image {
        max-height: 100vh;
        transition: transform 0.3s ease-out 0.2s;
      }
      .photo1 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
      }
      .photo2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 200%;
      }
      .photo3 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 300%;
      }
      .photo4 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 400%;
      }
      .photo5 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 500%;
      }
      .photo6 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 600%;
      }
      .photo7 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 700%;
      }
      .photo8 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 800%;
      }
      .photo9 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 900%;
      }

      .play-video-post {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        color: $white-color;
        opacity: 0.7;
      }
      .video-audio {
        position: absolute;
        bottom: 40px;
        right: 16px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $text-color;
        color: $white-color;
        i {
          font-size: $font-xsm;
        }
      }

      img,
      video {
        width: 100%;
      }
      .photo-prev {
        display: none;
        @include btn-move;
        left: 10px;
      }
      .photo-next {
        @include btn-move;
        right: 10px;
      }
      .photo-amount {
        margin-top: 4px;
        display: flex;
        justify-content: center;
        z-index: 100;
        .dot {
          height: 6px;
          width: 6px;
          border-radius: 50%;
          margin-right: 4px;
          background-color: #a8a8a8;
        }
        .dot-current {
          background-color: #0095f6;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      .interact-post {
        background-color: $white-color;
        display: flex;
        justify-content: space-between;
        padding: 8px;
        z-index: 10;
        position: relative;
        .left {
          display: flex;
        }
        button {
          padding: 8px;
          font-size: 1.4rem;
          border: none;
          background-color: $white-color;
          i:hover {
            color: $text-gray;
          }
        }

        .heart {
          position: relative;
          .heart-default {
            background-color: $white-color;
            :hover {
              color: $text-gray;
            }
          }
          .heart-active {
            display: none;
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            color: #ed4956;
            background-color: $white-color;
            animation: scaleIcon 200ms linear;
            :hover {
              color: #ed4956;
            }
          }
        }
      }

      .text {
        padding: 16px;
        margin-top: -20px;
        font-size: $font-sm;
        .like-amount,
        .view-amount {
          font-weight: 500;
          margin: 4px 0;
        }
        .user {
          span {
            font-weight: 500;
            margin-right: 5px;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          button {
            display: none;
            margin-left: 5px;
            color: $text-gray;
          }
        }
        .comments-amount {
          margin: 4px 0;
          color: $text-gray;
        }

        .post-date {
          margin: 4px 0;
          letter-spacing: 0.2px;
          font-size: 0.625rem;
          text-transform: uppercase;
          color: $text-gray;
        }
      }
      .comments-container {
        padding: 0 16px;
      }
      .comment {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .comment-account {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          font-size: $font-sm;
          span {
            font-weight: 500;
            margin-right: 5px;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          img {
            display: none;
          }
          .comment-info-reply {
            display: flex;
            align-items: center;
            color: $text-gray;
            font-size: $font-xsm;
            margin: 6px 0;
            i {
              display: none;
              font-size: $font-sm;
              cursor: pointer;
            }
            &:hover {
              i {
                display: block;
              }
            }
            .comment-time {
              margin-right: 12px;
            }
            .comment-like {
              font-weight: 500;
              margin-right: 12px;
            }
            .btn-reply-comment {
              margin-right: 12px;
              color: $text-gray;
              font-weight: 500;
              font-size: $font-xsm;
              cursor: pointer;
            }
          }
        }
        .heart-comment {
          position: relative;
          margin-right: 16px;
          .heart-comment-default {
            background-color: $white-color;
            :hover {
              color: $text-gray;
            }
          }
          .heart-comment-active {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            color: #ed4956;
            background-color: $white-color;
            animation: scaleIcon 200ms linear;
          }
        }
      }
      .add-comment {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 16px;
        border-top: 1px solid #efefef;
        font-size: $font-med;
        .emojis {
          padding: 8px 16px 8px 0px;
          font-size: $font-lg;
          line-height: 0;
        }
        input {
          flex: 1;
          outline: none;
          border: none;
        }
        .submit-comment {
          padding: 8px 0px 8px 16px;
          color: $text-blue;
          font-weight: 500;
          opacity: 0.5;
        }
        .submit-comment-on {
          opacity: 1;
        }
      }
    }
  }
}
