// Colors
$text-color: #262626;
$white-color: #fff;
$background: #fafafa;
$text-gray: #8e8e8e;
$text-gray-light: #c7c7c7;
$text-blue: #0095f6;
$border-color: #dbdbdb;

// Font Sizes
$font-xsm: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-smp: 0.95rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.375rem;
$font-xlg: 1.65rem;

// height
$nav-height: 60px;
